In [1]:
import pandas as pd

df = pd.read_csv('./../data/earth_day_missions.csv', index_col=0, low_memory=False)
df['outcome'] = df.apply(lambda x: 'SATISFIED' if x['satisfied'] else 'IGNORED' if x['ignored'] else 'FAILED', axis=1)
df = df[['start_date', 'user', 'missionId', 'missionType', 'missionSubType', 'period', 'target', 'title', 'outcome']]

df['start_date'] = pd.to_datetime(df['start_date'])
df['user'] = df['user'].astype('category').cat.codes
df['missionId'] = df['missionId'].astype('category').cat.codes
df['missionType'] = df['missionType'].astype('category')
df['missionSubType'] = df['missionSubType'].astype('category')
df['period'] = df['period'].astype('category')
df['outcome'] = pd.Categorical(df['outcome'], categories=['SATISFIED', 'FAILED', 'IGNORED'], ordered=True)

df = df.sort_values(by=['user', 'outcome', 'start_date'], ignore_index=True)

df

,start_date,user,missionId,missionType,missionSubType,period,target,title,outcome
0,2024-03-25,0,14,MEASURE,TYPEFORM_BASE,CUSTOM,1,calculate_carbon_footprint,SATISFIED
1,2024-03-25,0,30,TICKET,TICKET,CUSTOM,1,ticket,SATISFIED
2,2024-04-12,0,28,LEARN,DAILYEPISODE,DAILY,1,watch_the_daily_episode,SATISFIED
3,2024-04-12,0,18,ACT,ALL,DAILY,3,log_3_action,SATISFIED
4,2024-04-15,0,1,SURVEY,SURVEY,WEEKLY,1,fill_survey,SATISFIED
...,...,...,...,...,...,...,...,...,...
267891,2024-04-01,23232,29,ACT,FIXED,WEEKLY,2,log_2_action_vegetarian,IGNORED
267892,2024-04-08,23232,27,LEARN,DAILYEPISODE,WEEKLY,3,watch_the_daily_episode_3_consecutive,IGNORED
267893,2024-04-08,23232,33,ACT,ALL,WEEKLY,2,log_2_action2_consecutive,IGNORED
267894,2024-04-15,23232,1,SURVEY,SURVEY,WEEKLY,1,fill_survey,IGNORED
267895,2024-04-15,23232,9,SURVEY,SURVEY,WEEKLY,1,fill_survey,IGNORED

In [1]:
import numpy as np

n_arms = 5
true_probs = np.random.rand(n_arms)

n_rounds = 100

n_pulls = np.zeros(n_arms)
n_successes = np.zeros(n_arms)

for i in range(n_rounds):
    sample_probs = np.random.beta(n_successes + 1, n_pulls - n_successes + 1)
    arm = np.argmax(sample_probs)
    reward = np.random.binomial(1, true_probs[arm])

    n_pulls[arm] += 1
    n_successes[arm] += reward

    print(f"Round {i}: arm {arm} was pulled, reward {reward}")

estimated_probs = n_successes / n_pulls
print(f"Estimated probabilities: {estimated_probs}")
print(f"True probabilities: {true_probs}")

Round 0: arm 3 was pulled, reward 1
Round 1: arm 1 was pulled, reward 1
Round 2: arm 0 was pulled, reward 0
Round 3: arm 4 was pulled, reward 1
Round 4: arm 1 was pulled, reward 1
Round 5: arm 2 was pulled, reward 0
Round 6: arm 1 was pulled, reward 0
Round 7: arm 4 was pulled, reward 1
Round 8: arm 4 was pulled, reward 1
Round 9: arm 4 was pulled, reward 0
Round 10: arm 1 was pulled, reward 0
Round 11: arm 3 was pulled, reward 1
Round 12: arm 1 was pulled, reward 1
Round 13: arm 3 was pulled, reward 1
Round 14: arm 3 was pulled, reward 0
Round 15: arm 4 was pulled, reward 0
Round 16: arm 3 was pulled, reward 0
Round 17: arm 3 was pulled, reward 1
Round 18: arm 4 was pulled, reward 0
Round 19: arm 3 was pulled, reward 0
Round 20: arm 4 was pulled, reward 0
Round 21: arm 1 was pulled, reward 0
Round 22: arm 3 was pulled, reward 0
Round 23: arm 4 was pulled, reward 0
Round 24: arm 1 was pulled, reward 0
Round 25: arm 4 was pulled, reward 1
Round 26: arm 1 was pulled, reward 0
Round 27: arm 4 was pulled, reward 1
Round 28: arm 3 was pulled, reward 1
Round 29: arm 0 was pulled, reward 1
Round 30: arm 0 was pulled, reward 1
Round 31: arm 3 was pulled, reward 0
Round 32: arm 4 was pulled, reward 1
Round 33: arm 0 was pulled, reward 1
Round 34: arm 0 was pulled, reward 1
Round 35: arm 0 was pulled, reward 0
Round 36: arm 0 was pulled, reward 1
Round 37: arm 0 was pulled, reward 1
Round 38: arm 0 was pulled, reward 1
Round 39: arm 0 was pulled, reward 1
Round 40: arm 0 was pulled, reward 1
Round 41: arm 0 was pulled, reward 1
Round 42: arm 0 was pulled, reward 1
Round 43: arm 0 was pulled, reward 0
Round 44: arm 3 was pulled, reward 1
Round 45: arm 0 was pulled, reward 0
Round 46: arm 3 was pulled, reward 1
Round 47: arm 3 was pulled, reward 0
Round 48: arm 0 was pulled, reward 1
Round 49: arm 4 was pulled, reward 0
Round 50: arm 0 was pulled, reward 1
Round 51: arm 0 was pulled, reward 1
Round 52: arm 0 was pulled, reward 1
Round 53: arm 0 was pulled, reward 1
Round 54: arm 0 was pulled, reward 1
Round 55: arm 4 was pulled, reward 1
Round 56: arm 0 was pulled, reward 1
Round 57: arm 0 was pulled, reward 1
Round 58: arm 0 was pulled, reward 1
Round 59: arm 0 was pulled, reward 1
Round 60: arm 0 was pulled, reward 1
Round 61: arm 0 was pulled, reward 1
Round 62: arm 0 was pulled, reward 1
Round 63: arm 0 was pulled, reward 1
Round 64: arm 0 was pulled, reward 1
Round 65: arm 0 was pulled, reward 0
Round 66: arm 0 was pulled, reward 1
Round 67: arm 0 was pulled, reward 1
Round 68: arm 0 was pulled, reward 0
Round 69: arm 0 was pulled, reward 0
Round 70: arm 0 was pulled, reward 1
Round 71: arm 0 was pulled, reward 1
Round 72: arm 0 was pulled, reward 1
Round 73: arm 0 was pulled, reward 1
Round 74: arm 0 was pulled, reward 1
Round 75: arm 0 was pulled, reward 1
Round 76: arm 0 was pulled, reward 1
Round 77: arm 0 was pulled, reward 1
Round 78: arm 0 was pulled, reward 1
Round 79: arm 0 was pulled, reward 1
Round 80: arm 0 was pulled, reward 1
Round 81: arm 0 was pulled, reward 1
Round 82: arm 0 was pulled, reward 1
Round 83: arm 0 was pulled, reward 1
Round 84: arm 0 was pulled, reward 1
Round 85: arm 0 was pulled, reward 1
Round 86: arm 0 was pulled, reward 1
Round 87: arm 0 was pulled, reward 1
Round 88: arm 0 was pulled, reward 1
Round 89: arm 0 was pulled, reward 0
Round 90: arm 0 was pulled, reward 1
Round 91: arm 0 was pulled, reward 1
Round 92: arm 0 was pulled, reward 1
Round 93: arm 0 was pulled, reward 1
Round 94: arm 0 was pulled, reward 1
Round 95: arm 0 was pulled, reward 1
Round 96: arm 0 was pulled, reward 0
Round 97: arm 0 was pulled, reward 1
Round 98: arm 0 was pulled, reward 1
Round 99: arm 0 was pulled, reward 1
Estimated probabilities: [0.86153846 0.375      0.         0.53846154 0.53846154]
True probabilities: [0.8477236  0.61113858 0.33754192 0.50197676 0.72734101]