In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./../data/earth_day_missions.csv', index_col=0, low_memory=False)
df = df[['start_date', 'user', 'missionId', 'satisfied']]

df['start_date'] = pd.to_datetime(df['start_date'])
df['user'] = df['user'].astype('category').cat.codes
df['missionId'] = df['missionId'].astype('category').cat.codes
df['satisfied'] = df['satisfied'].astype(int)

df = df.sort_values(by=['user', 'satisfied', 'start_date'], ignore_index=True)

df

       start_date   user  missionId  satisfied
0      2024-03-25      0          4          0
1      2024-03-25      0          7          0
2      2024-03-25      0         16          0
3      2024-04-01      0         19          0
4      2024-04-01      0         29          0
...           ...    ...        ...        ...
267891 2024-04-08  23232         27          0
267892 2024-04-08  23232         33          0
267893 2024-04-15  23232          1          0
267894 2024-04-15  23232          9          0
267895 2024-03-25  23232         30          1

[267896 rows x 4 columns]

In [ ]:
df.groupby(['user', 'start_date']).size()

In [ ]:
import numpy as np

n_arms = 5
true_probs = np.random.rand(n_arms)

n_rounds = 1000

n_pulls = np.zeros(n_arms)
n_successes = np.zeros(n_arms)

for i in range(n_rounds):
    sample_probs = np.random.beta(n_successes + 1, n_pulls - n_successes + 1)
    arm = np.argmax(sample_probs)
    reward = np.random.binomial(1, true_probs[arm])

    n_pulls[arm] += 1
    n_successes[arm] += reward

    print(f"Round {i}: arm {arm} was pulled, reward {reward}")

estimated_probs = n_successes / n_pulls
print(f"Estimated probabilities: {estimated_probs}")
print(f"True probabilities: {true_probs}")